/* .heroSection_parent_div {
  position: relative;
  background: url("../../accts//hero_photo/heroPhoto.png");
  background-color: rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  background-blend-mode: darken;
}
.heroPhoto {
  height: 80vh;
  width: 100%;
}
.attract_div {
}
.attract_h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  font-family: IvyMode;
  color: black;
  position: relative;

  margin-top: -500px;
} */
/* .unlock_h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 40px;
}

.contact_us_btn {
  background-color: #f6bb17;
  margin-top: 30px;
  padding: 15px;
  font-size: 22px;
  margin-bottom: 235px;
}

.contact_us_btn:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
} */

/* ================================ */
.heroSection_parent_div {
  position: absolute;
  background: url("../../accts//hero_photo/heroPhoto.png");
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: hsla(0, 4%, 82%, 0.53); */
  /* background-color: black; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  height: 61vh;
  width: 100%;
}
.attract_div {
  position: relative;
  margin-top: 70px;
}
.attract_h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  font-family: IvyMode;
  color: black;
}
.unlock_h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 40px;
}
.contact_us_btn {
  background-color: #f6bb17;
  margin-top: 30px;
  padding: 15px;
  font-size: 22px;
  margin-bottom: 235px;
}

.contact_us_btn:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .attract_h1 {
    font-size: 32px;
  }
  .unlock_h1 {
    font-size: 24px;
    margin-top: 20px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .heroPhoto {
    height: 30vh;
  }
  .attract_h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .heroSection_parent_div {
    height: 35vh;
  }
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .heroSection_parent_div {
    height: 55vh;
  }
}

@media screen and (max-width: 871px) and (max-height: 707px) {
  .heroSection_parent_div {
    height: 50vh;
  }
}
@media screen and (max-width: 800px) and (max-height: 1280px) {
  .heroSection_parent_div {
    height: 40vh;
  }
  .attract_h1 {
    font-size: 40px;
  }
  .unlock_h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) and (max-height: 707px) {
  .heroSection_parent_div {
    height: 50vh;
  }
  .attract_h1 {
    font-size: 30px;
  }
  .unlock_h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .attract_h1 {
    font-size: 27px;
    font-weight: 600;
  }
  .unlock_h1 {
    font-size: 20px;
    font-weight: 500;
  }
}

@media screen and (max-width: 640px) {
  .heroPhoto {
    height: 70vh;
  }
  .attract_h1 {
    font-size: 25px;
  }
  .unlock_h1 {
    font-size: 18px;
    margin-top: 15px;
    line-height: 22px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 19px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 640px) and (max-height: 360px) {
  .heroSection_parent_div {
    height: 82vh;
  }
}
@media screen and (max-width: 540px) and (max-height: 720px) {
  .heroPhoto {
    height: 50vh;
  }
  .attract_h1 {
    font-size: 22px;
  }
  .unlock_h1 {
    font-size: 18px;
    margin-top: 18px;
    line-height: 25px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 19px;
    margin-top: 25px;
  }
}
@media screen and (max-width: 500px) {
  .heroPhoto {
    height: 50vh;
  }
  .attract_h1 {
    font-size: 25px;
  }
  .unlock_h1 {
    font-size: 18px;
    margin-top: 18px;
    line-height: 25px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 19px;
    margin-top: 25px;
  }
}
@media screen and (max-width: 412px) and (max-height: 732px) {
  .heroSection_parent_div {
    height: 45vh;
  }
}
@media screen and (max-width: 384px) and (max-height: 640px) {
  .heroSection_parent_div {
    height: 45vh;
  }
  .attract_h1 {
    font-size: 22px;
  }
  .unlock_h1 {
    font-size: 18px;
    margin-top: 18px;
    line-height: 25px;
  }
}
@media screen and (max-width: 360px) {
  .attract_h1 {
    font-size: 20px;
  }
  .unlock_h1 {
    font-size: 16px;
    margin-top: 18px;
    line-height: 25px;
  }
}
@media screen and (max-width: 360px) and (max-height: 640px) {
  .heroSection_parent_div {
    height: 50vh;
  }
  .attract_h1 {
    font-size: 20px;
  }
  .unlock_h1 {
    font-size: 16px;
    margin-top: 18px;
    line-height: 25px;
  }
}
@media screen and (max-width: 350px) {
  .attract_h1 {
    font-size: 20px;
  }
  .unlock_h1 {
    font-size: 15px;
    margin-top: 15px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 320px) and (max-height: 480px) {
  .heroSection_parent_div {
    height: 60vh;
  }
}
@media screen and (max-width: 240px) and (max-width: 320px) {
  .attract_h1 {
    font-size: 15px;
  }

  .unlock_h1 {
    line-height: 18px;
    font-size: 14px;
    margin-top: 8px;
  }

  .contact_us_btn {
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 150px;
  }
}
