.heroSection_parent_div {
  position: relative;
  background: url("../../accts//hero_photo/heroPhoto.png");
  background-color: rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  background-blend-mode: darken;
  /* background-attachment: fixed; */
}

.attract_h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  font-family: IvyMode;
  color: black;
  position: absolute;
  margin-top: 200px;
  margin-left: 500px;
}
@media screen and (max-width: 950px) {
  .heroSection_parent_div {
  }
}
