.heroSection_parent_div {
  /* position: relative;
  background: url("../../accts//hero_photo/heroPhoto.png");
  background-color: rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  background-blend-mode: darken; */
}
.heroPhoto {
  height: 80vh;
}
.attract_div {
}
.attract_h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  font-family: IvyMode;
  color: black;
  position: relative;

  margin-top: -500px;
}
.unlock_h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 40px;
}

.contact_us_btn {
  background-color: #f6bb17;
  margin-top: 30px;
  padding: 15px;
  font-size: 22px;
  margin-bottom: 235px;
}

.contact_us_btn:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .heroSection_parent_div {
  }
  .attract_h1 {
    font-size: 40px;
  }
  .unlock_h1 {
    font-size: 25px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1200px) {
  .heroPhoto {
    height: 50vh;
  }
  .attract_h1 {
    font-size: 30px;
    margin-top: -300px;
  }
  .unlock_h1 {
    font-size: 20px;
    margin-top: 20px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .heroPhoto {
    height: 50vh;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .heroPhoto {
    height: 30vh;
  }
  .attract_h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) and (max-height: 914px) {
  .heroPhoto {
    height: 40vh;
  }
  .attract_h1 {
    font-size: 30px;
    margin-top: -290px;
  }
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .heroPhoto {
    height: 60vh;
  }
  .attract_h1 {
    font-size: 30px;
    margin-top: -250px;
  }
  .unlock_h1 {
    font-size: 20px;
    margin-top: 20px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 20px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 800px) {
  .heroPhoto {
    height: 30vh;
  }
}
@media screen and (max-width: 800px) and (max-height: 914px) {
  .heroPhoto {
    height: 30vh;
  }
  .attract_h1 {
    margin-top: -240px;
  }
}
@media screen and (max-width: 768px) and (max-height: 1024px) {
  .heroPhoto {
    height: 30vh;
  }
  .attract_h1 {
    margin-top: -240px;
  }
}
@media screen and (max-width: 640px) {
  .heroPhoto {
    height: 70vh;
  }
  .attract_h1 {
    font-size: 25px;
    margin-top: -240px;
  }
  .unlock_h1 {
    font-size: 18px;
    margin-top: 15px;
    line-height: 22px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 19px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) and (max-height: 914px) {
  .heroPhoto {
    height: 40vh;
  }
  .attract_h1 {
    font-size: 25px;
    margin-top: -270px;
  }
  .unlock_h1 {
    font-size: 18px;
    margin-top: 15px;
    line-height: 22px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 19px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) and (max-height: 360px) {
  .heroPhoto {
    height: 90vh;
  }
  .attract_h1 {
    font-size: 25px;
    margin-top: -270px;
  }
  .unlock_h1 {
    font-size: 18px;
    margin-top: 15px;
    line-height: 22px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 19px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .heroPhoto {
    height: 30vh;
  }
}
@media screen and (max-width: 540px) and (max-height: 720px) {
  .heroPhoto {
    height: 50vh;
  }
  .attract_h1 {
    font-size: 25px;
    margin-top: -300px;
  }
  .unlock_h1 {
    font-size: 18px;
    margin-top: 18px;
    line-height: 25px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 19px;
    margin-top: 25px;
  }
}
@media screen and (max-width: 500px) {
  .heroPhoto {
    height: 50vh;
  }
  .attract_h1 {
    font-size: 25px;
    margin-top: -300px;
  }
  .unlock_h1 {
    font-size: 18px;
    margin-top: 18px;
    line-height: 25px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 19px;
    margin-top: 25px;
  }
}
@media screen and (max-width: 360px) and (max-width: 640px) {
  .attract_h1 {
    font-size: 25px;
    margin-top: -250px;
  }
}
@media screen and (max-width: 350px) {
  .heroPhoto {
    height: 50vh;
  }
  .attract_h1 {
    font-size: 20px;
    margin-top: -300px;
  }
  .unlock_h1 {
    font-size: 15px;
    margin-top: 15px;
  }

  .contact_us_btn {
    padding: 12px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 320px) and (max-width: 533px) {
  .attract_h1 {
    font-size: 20px;
    margin-top: -220px;
  }
}
@media screen and (max-width: 240px) and (max-width: 320px) {
  .attract_h1 {
    font-size: 15px;
    margin-top: -150px;
  }

  .unlock_h1 {
    line-height: 18px;
    font-size: 14px;
    margin-top: 8px;
  }

  .contact_us_btn {
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 150px;
  }
}
