.footer_service_heading {
  font-size: 35px;
  font-weight: 500;
  margin-top: 100px;
}
.footer_service_grid_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 200px;
}
.footer_service_cart_div {
  color: #f6bb17;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  border-radius: 15px;
  padding: 50px 0;
  width: 100%;
}
.footer_service_cart_div p {
  font-weight: 500;
}

.footer_service_cart_div img {
  width: 40%;
  margin: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 1450px) {
  .footer_service_grid_div {
    width: 80%;
  }
}
@media screen and (max-width: 1250px) {
  .footer_service_grid_div {
    width: 90%;
  }
}
@media screen and (max-width: 1100px) {
  .footer_service_grid_div {
    width: 100%;
    padding: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .footer_service_grid_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .footer_service_grid_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
