.homeSignUp_parent_div {
  background-color: #f6bb17;
  /* padding: 100px 0; */
  margin: auto;
}
.homeSignUp_grid_div {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  width: 30%;
  /* background-color: red; */
  margin: auto;
}
.homeSignUp_text_div {
  /* background-color: red; */
  width: 40%;
}
.homeSignUP_In_heading {
  font-size: 35px;
  color: white;
}
.homeSignUP_In_heading_in_cart {
  font-size: 35px;
  color: white;
  margin-bottom: 20px;
  /* display: none; */
}
.homeSignUp_cart_div {
  width: 40%;
  margin-right: auto;
  padding: 70px 20px;
  margin-top: 50px;
  /* margin-bottom: 50px; */
  /* box-shadow: 1px 1px 20px 1px rgb(228, 228, 228); */
  border-radius: 10px;

  text-align: left;
}

.homeSignUp_input {
  border: 1px solid rgb(199, 199, 199);

  padding: 15px 10px;
  /* border-radius: 10px; */
  width: 320%;
  margin: auto;
  margin-bottom: 20px;
}

.homeSignUp_btn {
  width: 80px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  margin-bottom: 10px;

  box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.253);
}

.homeSignUp_btn:hover {
  border: 2px solid white;
}
@media screen and (max-width: 1200px) {
  .homeSignUp_cart_div {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .homeSignUp_cart_div {
    width: 70%;
  }

  .homeSignUp_inner_div {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .homeSignUp_grid_div {
    display: grid;
    grid-template-columns: 1fr;
    /* width: 80%; */
  }
  .homeSignUP_In_heading {
    display: none;
  }
  .homeSignUP_In_heading_in_cart {
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .homeSignUp_grid_div {
    /* background-color: red; */
    width: 100%;
  }
  .homeSignUp_cart_div {
    width: 80%;
  }

  .homeSignUp_inner_div {
    width: 90%;
  }
  .homeSignUp_input {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .homeSignUp_cart_div {
    width: 90%;
  }

  .homeSignUp_inner_div {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .homeSignUp_cart_div {
    width: 100%;
  }

  .homeSignUp_inner_div {
    width: 100%;
  }

  .homeSignUp_input {
    padding: 2px 20px;
  }
  .login_btn {
    padding: 0px;
    font-size: 14px;

    height: 40px;
  }
}
