.wordpressseo_parent_div {
  margin-top: 120px;
}

.wordPressSeo_photo {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wordPressSeo_text_div {
  text-align: left;
  width: 50%;
  margin: auto;
}
