.blogPost_parent_div {
  background-color: #fcf9f4;
  padding: 20px;
}

.latest_blog_post {
  font-size: 40px;
  margin-top: 30px;
}
.blogPost_Photo_grid_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 14px;
  width: 80%;
  margin: auto;
  margin-top: 35px;
}
.blogPost_Photo {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .blogPost_Photo_grid_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .blogPost_Photo_grid_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .blogPost_Photo_grid_div {
    width: 100%;
  }
}
