.projects_home_parent_div {
  width: 100%;
  margin-top: 50px;
  background-color: #eee;
  padding: 0px 50px;
  margin-bottom: -50px;
}
.blogPost_home_parent_div {
  /* background-color: #fcf9f4; */
  width: 100%;
  margin-bottom: -30px;
}
.blogPost_view_all_btn {
  width: 100px;
  background-color: #f6bb17;
  padding: 10px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 1px #ae9d78;
  height: 50px;
  left: 37%;
}

.blogPost_view_all_btn:hover {
  background-color: #ae9d78;
  /* border-bottom: 2px solid white;
  border-right: 2px solid white; */
  border: 2px solid white;
  color: white;
}

/* Responsive ness start */

@media screen and (max-width: 1024px) {
  .projects_home_parent_div {
    padding: 10px;
  }
}
