.contact_grid_div {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 100px;
  margin-top: 150px;
  margin-bottom: 120px;
}
.get_in_touch_div {
  margin-top: 80px;
}
.get_in_touch {
  font-size: 40px;
}
.contact_icon_flex_div {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 20px;
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
}
.contact_icon {
  font-size: 25px;
  font-weight: 500;
  color: gray;
}
.contact_icon_flex_div p {
  font-weight: 500;
  color: gray;
}

.contact_input_div {
  /* box-shadow: 10px 10px 100px 10px rgb(224, 224, 224); */
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  text-align: left;
  padding: 20px;
  border-radius: 15px;
}

.contact_input {
  border-bottom: 4px solid #f3e8e4c7;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}
.contact_text_area {
  border-bottom: 4px solid #f3e8e4c7;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 10px;
}
.contact_input_div p {
  font-size: 25px;
  margin-bottom: 20px;
  color: rgb(107, 107, 107);
  padding: 30px 0px;
}
.submit_div {
  display: flex;
  justify-content: center;
}
.booking_btn {
  width: 130px;
  background-color: #f6bb17;
  padding: 10px;
  font-weight: 500;

  margin-bottom: 30px;
  box-shadow: 10px 10px 1px #ae9d78;
}
.submit_btn {
  width: 130px;
  background-color: #f6bb17;
  padding: 10px;
  font-weight: 500;

  margin-bottom: 30px;
  box-shadow: 10px 10px 1px #ae9d78;
}

@media screen and (max-width: 800px) {
  .get_in_touch_div {
    text-align: left;
  }
  .booking_btn {
    margin-left: 10px;
  }
  .get_in_touch {
    text-align: left;
    margin-left: 10px;
  }
  .contact_icon_flex_div {
    margin-left: 10px;
  }
  .contact_grid_div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .contact_input_div {
    margin-top: -130px;
  }
  /* .booking_btn_div {
    display: flex;
    justify-content: left;
    margin-left: 20px;
  }
  .submit_div {
    justify-content: left;
  } */
}
