.degital_marketing_parent_div {
  margin-top: 120px;
}
.digital_map_div {
  text-align: left;
}
.digital_photo {
  margin: auto;
  margin-top: 20px;
}
.digital_text_div {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
