.about_me_parent_div {
  padding: 70px 0;
}
.about_me_heading {
  font-size: 3rem;
  margin-top: 30px;
}
.hi_i_am {
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 50px;
  color: #f6bb17;

  font-family: IvyMode;
}
.about_me_grid_div {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
  gap: 50px;
}
.CristianeAbreu {
  width: 400px;
  border: 10px solid #f5f2ec;
}
.about_me_text_div {
  text-align: justify;
}

@media screen and (max-width: 1376px) {
  .about_me_grid_div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    margin: auto;
    gap: 50px;
  }
  .CristianeAbreu {
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .about_me_heading {
    font-size: 30px;
  }
  .hi_i_am {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about_me_grid_div {
    width: 100%;
    padding: 20px;
  }
  .CristianeAbreu {
    margin: auto;
  }
}
